@model OnlineShop.Models.Comment


<div class="container py-5">
    <h2 class="text-center">Edit Comment</h2>

    <div class="row">
        <div class="col-6 offset-3">
            <form class="d-flex flex-column gap-3 overflow-auto" method="post" action="/Comments/Edit/@Model.Id">
                <div>
                    @Html.Label("Content", "Content")

                    @Html.TextBox("Content", null, new { @class = "form-control" })

                    @Html.ValidationMessageFor(m => m.Content, null, new{@class = "text-danger"})
                </div>
                <button class="btn btn-outline" style="background-color:pink; color:black;" type="submit">Edit Comment</button>
            </form>
        </div>
    </div>
</div>

