@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model OnlineShop.Models.Product


@* Afisarea unui articol impreuna cu categoria din care face *@
<div class="d-flex justify-content-center">

    <a class="btn btn-outline-success" href="/Products/Index/">Afisare articole</a>

    <a class="btn btn-outline-success" href="/Products/New">Adauga articol</a>

</div>

<br />

<div class="card">


    <hr />

    <div class="d-flex flex-row justify-content-between">



        <a class="btn btn-success" href="/Products/Edit/@Model.Id">Editeaza articol</a>

        <form method="post" action="/Products/Delete/@Model.Id">

            <button class="btn btn-danger" type="submit">Sterge articol</button>

        </form>

    </div>

</div>

<br />
<br />

@* Afisare comentarii impreuna cu butoanele de editare si stergere *@

@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@comm.Content</p>
                    <small>@comm.Date</small>

                </div>
                <br>

                <div class="d-flex">

                    <div>

                        <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>

                    </div>

                    <div>

                        <form method="post" action="/Comments/Delete/@comm.Id">

                            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                        </form>

                    </div>

                </div>

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}


@* Afisarea formularului in care se poate adauga un comentariu *@

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" action="/Products/Show/@Model.Id">
                    <div class="card-body">

                        <input type="hidden" name="ProductId" value="@Model.Id" />

                        <label>Continut comentariu</label>
                        <br />

                        <textarea class="form-control" name="Content"></textarea>

                        @Html.ValidationMessage("Content", null, new {@class = "text-danger"})
                        <br /><br />

                        <button class="btn btn-success " type="submit">
                            Adauga comentariul
                        </button>

                    </div>
                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>